<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
</head>
<body>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>

<form action="#" th:action="@{/products}" method="post" th:object="${prodcuts}">
    <div class="mb-3">
        <label class="form-label">Название</label>
        <input type="text" class="form-control" id="name" name="name"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Бренд</label>
        <input type="text" class="form-control" id="company" name="company"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Цена</label>
        <input type="text" class="form-control" id="price" name="price"/>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn-primary">Добавить</button>
    </div>
</form>

<div>
    <h1>Список продуктов</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Производитель</th>
            <th>Цена</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">...</td>
            <td th:text="${product.name}">...</td>
            <td th:text="${product.company}">...</td>
            <td th:text="${product.price}">...</td>
        </tr>
    </table>
</div>
</body>
</html>